# Strings

Strings are used to record text information, such as names. In this, we are going to do the following:
1. Creating Strings
2. Printing Strings
3. String Indexing 
4. String Slicing
5. String Properties
6. String Methods

## Creating a String
To create a string in Python we need to use either single quotes or double quotes. For example:

In [2]:
#Single qoute with one word
'Hello'

'Hello'

In [3]:
#Entire Phrase
'My name is Vedanshi'

'My name is Vedanshi'

In [4]:
#Double qoutes
"My name is Vedanshi"

'My name is Vedanshi'

In [5]:
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-5-78b2bcaeaa9b>, line 1)

The reason for the error above is because the single quote in I'm, stopped the string. We can use combinations of double and single quotes to get the complete statement.

In [6]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

## Printing a String
Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [7]:
# We can simply declare a string
'Hello World'

'Hello World'

In [8]:
# We can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [9]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('Hey')

Hello World 1
Hello World 2
Use
 to print a new line


Hey

In [10]:
print('Hello World 1')
print('Hello World 2')
print('Use \t for a tab')
print('\t')
print('Hey')

Hello World 1
Hello World 2
Use 	 for a tab

Hey

### String Basics
We can also use a function called len() to check the length of a string! It counts all of the characters in the string, including spaces and punctuation.

In [11]:
len("Hello World")

11

## String Indexing
Python can use indexes to call parts of the sequence. 

In Python, we use brackets [] after an object to call its index.  Indexing starts at 0. Here we are creating a new object called **str**

In [1]:
#Assign str  a string
str="My name is Khan"

In [2]:
#Check
str

'My name is Khan'

In [3]:
#Print the string
print(str)

My name is Khan

In [4]:
#Printing 'M' in the string(1st element)
str[0]

'M'

In [5]:
#Printing 's'
str[9]

's'

In [6]:
#Printing 'n' for Khan (last element)
str[14]

'n'

For printing the last character or 2nd last, we have to count the string. Easiest way to print it to use **negative indexing**.

In [14]:
#Printing 'n' for Khan (last element) using negative indexing
str[-1]

'n'

In [8]:
#Printing 'a' for Khan (2nd last element) using negative indexing
str[-2]

'a'

## String Slicing
Slicing means to grab a subsection from the string. We use **:** to perform slicing.
- Syntax: [start:stop:step]

In [9]:
str

'My name is Khan'

In [10]:
# Grab everything past the first term all the way to the length of str
str[1:]

'y name is Khan'

In [11]:
# There will be no change to the original str
str

'My name is Khan'

In [12]:
# Grab everything UP TO the 4rd index
str[:4]

'My n'

In the above slicing, we're telling Python to grab everything from 0 up to 4. It doesn't include the 4th index.

In [13]:
#Everything
str[:]

'My name is Khan'

In [24]:
#Print 'is' from the string
str[8:10]

'is'

Using negative indexing to go backwards

In [15]:
# Last letter (one index behind 0 so it loops back around)
str[-1]

'n'

In [16]:
# Grab everything except the last letter
str[:-1]

'My name is Kha'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance, we can use two colons (::) in a row and then a number specifying the frequency to grab elements. For example:

In [17]:
# Grab everything, but go in steps size of 1 (default)
str[::1]

'My name is Khan'

In [18]:
# Grab everything, but go in steps size of 2
str[::2]

'M aei hn'

In [19]:
# Reverse String
str[::-1]

'nahK si eman yM'

In [20]:
#Print everything
str[::]

'My name is Khan'

In [21]:
#Grab everything from 3rd index, but go in steps size of 2
str[3::2]

'nm sKa'

In [22]:
#Grab everything from 1st index, but go in steps size of 2
str[1::2]

'ynm sKa'

In [23]:
#Grab everything from the 1st index UPTO 8th index , but go in steps size of 2
str[1:8:2]

'ynm '

## String Properties

We can also use a function called len() to check the length of a string! It counts all of the characters in the string, including spaces and punctuation.

In [27]:
str

'My name is Khan'

In [28]:
#Determine the length of the string
len(str)

15


Strings have an important property known as **immutability**. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [29]:
str

'My name is Khan'

In [30]:
str[0]="H"

TypeError: 'str' object does not support item assignment

The error tells us directly what we can't do, change the item assignment!

Something we can do is **concatenate** strings!

In [31]:
str

'My name is Khan'

In [35]:
# Concatenate strings!
str + 'Sahab!'

'My name is KhanSahab!'

No Spacing in between

In [36]:
# Concatenate strings with space in between
str + ' Sahab!'

'My name is Khan Sahab!'

In [41]:
# We can reassign str completely though!
str = str + ' Sahab!'

In [42]:
print(str)

My name is Khan Sahab! Sahab!

In [ ]:
We can use the multiplication symbol to create repetition!

In [43]:
letter = "z"

In [44]:
letter*10

'zzzzzzzzzz'

Changing the string from **My** name is Khan to **His** name is Khan using concatenation

In [46]:
str= "My name is Khan"

In [47]:
str

'My name is Khan'

In [51]:
str_end = str[3: ]

In [52]:
str_end

'name is Khan'

In [54]:
'His ' + str_end

'His name is Khan'

We can't multiply the string with the character! We have to keep in mind the data types

In [55]:
'His '*str_end

TypeError: can't multiply sequence by non-int of type 'str'

## Built-in String methods

**Syntax:** object.method(parameters)

Where parameters are extra arguments we can pass into the method. There are many methods, here we are describing only the basics and most common methods.

In [56]:
x="My name is Vedanshi Garg"

In [57]:
x

'My name is Vedanshi Garg'

In [58]:
# Upper Case a string
x.upper()

'MY NAME IS VEDANSHI GARG'

In [59]:
# This will tell us about the function
x.upper

In [60]:
# Lower Case 
x.lower()

'my name is vedanshi garg'

In [61]:
# Split a string by blank space (this is the default)
x.split()

['My', 'name', 'is', 'Vedanshi', 'Garg']

In [62]:
# Split by a specific element (doesn't include the element that was split on)
x.split('a')

['My n', 'me is Ved', 'nshi G', 'rg']