# List Comprehensions

List comprehensions allow us to build out lists using a different notation. 
- A one line for loop built inside of brackets.

## Example1

In [1]:
# Grab every letter in string
str = "hello"
list1 = []
for letter in str:
    list1.append(letter)

In [2]:
list1

['h', 'e', 'l', 'l', 'o']

In [3]:
# Grab every letter in string using list comprehension
list1 = [x for x in 'hello']

In [4]:
list1

['h', 'e', 'l', 'l', 'o']

## Example2

In [5]:
# Grab the numbers from 0 to 10
list1 = [num for num in range(0,11)]

In [6]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Example 3

In [7]:
# Square numbers in range and turn into list
list1 = [num**2 for num in range(0,11)]

In [8]:
list1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Example 4

Doing more complicated calculations

In [9]:
# Convert Celsius to Fahrenheit
celsius = [0, 10, 20.1, 34.5]

In [10]:
fahrenheit = []
for temp in celsius:
    fahrenheit.append((9/5)*temp + 32)

In [11]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [12]:
# Convert Celsius to Fahrenheit using list comprehension
fahrenheit = [((9/5)*temp + 32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example 5

Using if control statements

In [13]:
#check for even numbers 
list1 = []
for num in range(0,9):
    if num %2 == 0:
        list1.append(num)

In [14]:
list1

[0, 2, 4, 6, 8]

In [15]:
#check for even numbers using list comprehension
list1 = [num for num in range(0,7) if num % 2 ==0]

In [16]:
list1

[0, 2, 4, 6]

## Example 6

Using if & else control statements

In [17]:
#check for even numbers 
list1 = []
for num in range(0,9):
    if num%2 == 0:
        list1.append(num)
    else:
        list1.append('ODD')

In [18]:
list1

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8]

In [19]:
#check for even numbers using list comprehension
list1 = [num if num % 2 ==0 else 'ODD'  for num in range(0,9)]

In [20]:
list1

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8]

## Example 7
Using nested loops

In [21]:
#Multiply both the list
list1 = []
for x in [2, 4, 6]:
    for y in [1, 2, 3]:
        list1.append(x*y)

In [22]:
list1

[2, 4, 6, 4, 8, 12, 6, 12, 18]

In [23]:
#Multiply both the list using list comprehension
list1 = [x*y for x in [2, 4, 6] for y in [1, 2, 3] ]

In [24]:
list1

[2, 4, 6, 4, 8, 12, 6, 12, 18]

## Example 8

In [25]:
list1 = [ x**2 for x in [x**2 for x in range(11)]]

In [26]:
list1

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]