# Objects and Data Structures Assessment Test

## Numbers
Q1. Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [8]:
(((10**2)/4)*4)+0.30-0.05

100.25

Q2. (a) What is the value of the expression 4 * (6 + 5)

In [9]:
44

44

(b) What is the value of the expression 4 * 6 + 5

In [10]:
29

29

(c) What is the value of the expression 4 + 6 * 5

In [11]:
34

34

Q3. What is the type of the result of the expression 3 + 1.5 + 4?

In [12]:
type(3+1.5+4)

float

Q4.What would you use to find a numberâ€™s square root, as well as its square?

In [13]:
#Square
a = 5
a**2

25

In [50]:
#Squareroot
a = 100
sqrt = a**0.5
sqrt

10.0

## Strings

Q5. Given the string 'hello' give an index command that returns 'e'.

In [14]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

(b) Reverse the string 'hello' using slicing

In [15]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

(c) Given the string hello, give two methods of producing the letter 'o' using indexing.

In [16]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [17]:
# Method 2:
s[-1]

'o'

## Lists

Q6. Build this list [0,0,0] two separate ways.

In [19]:
# Method 1
list = [0,0,0]

In [20]:
list

[0, 0, 0]

In [51]:
# Method2
[0]*3

[0, 0, 0]

In [52]:
# Method 3
list1 = [0]

In [23]:
list1.append(0)

In [24]:
list1.append(0)

In [25]:
list1

[0, 0, 0]

Q7.Reassign 'hello' in this nested list to say 'goodbye' instead:

list3 = [1,2,[3,4,'hello']]

In [31]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]

'hello'

In [32]:
list3[2][2] = 'goodbye'

In [33]:
list3

[1, 2, [3, 4, 'goodbye']]

Q8.Sort the list below:

list4 = [5,3,4,6,1]

In [59]:
#method1
list4 = [5, 3, 4, 6, 1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [60]:
#method 2
sorted(list4)

[1, 3, 4, 5, 6]

## Dictionary

Q9.Using keys and indexing, grab the 'hello' from the following dictionaries:

(a) d = {'simple_key':'hello'}

In [35]:
d = {'simple_key':'hello'}
d['simple_key']

'hello'

(b) d = {'k1':{'k2':'hello'}}

In [36]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

(c) d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [54]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

(d) d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [57]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

## Tuples
Q10. Create a tuple and determine its type

In [43]:
t = (1,2,3)
type(t)

tuple

## Sets

Q11.Use a set to find the unique values of the list below: list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [44]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Boolean

#### two nested lists
- l_one = [1,2,[3,4]]
- l_two = [1,2,{'k1':4}]

#### True or False?
l_one[2][0] >= l_two[2]['k1']

In [45]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

In [46]:
# 3 >= 4
l_one[2][0] >= l_two[2]['k1']

False